//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"


OTHER_LDFLAGS = $(OF_CORE_LIBS) 
//HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) "../../../addons/ofxOpenCv/libs/opencv/include/" "../../../addons/ofxCv/libs/ofxCv/include/"
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) "../../../apps/HUMANRACEMACHINE/HRM/src/ofxCv/libs/opencv/include/" "../../../apps/HUMANRACEMACHINE/HRM/src/ofxCv/libs/ofxCv/include/"